@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased bg-gray-50;
    }

    #root {
        @apply h-screen w-screen;
        height: 100dvh;
        width: 100vw;
        overflow: hidden;
    }
}